{# app/Resources/views/Emails/invitation.html.twig #}

<h3>Zostałeś zaproszony do systemu <strong>BMS OnLine</strong></h3>
    
<h4><a href="http://www.bmsonline.pl/register">Przejdź do rejestracji</a>...<br/>
    
... i wprowadź poniższy kod w formularzu rejestracyjnym.<br/>

Kod: {{ code }}</h4>