{# /app/Resources/FOSUserBundle/views/Registration/register_content.html.twig #}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="row">
    <div class="col-xs-4 col-xs-offset-4 text-center" id="user_control_window">
        <div>
            <h3>Rejestracja do systemu BMS</h3>
        </div>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}
            <div class="form-group">
                <input class="btn btn-default" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        </form>
    </div>
</div>

