/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-07-31, 12:49:50
    Author     : Marcin
    #337AB7
*/

.fa-red{color: #FF0000;}
.fa-gray{color: #adadad;}
.fa-blue{color: #0E809F;}
.fa-green{color: #207E20;}
.fa-yellow{color: #FFFF00;}
.fa-orange{color: #f26522;}
.hidden{display: none;}
.fa-spinner{
    color: #337AB7;
    position: absolute;
    top: 35%;
    left: 50%;
    z-index:999;
}
body {
    background-color: #f8f8f8;
    margin:0;
    padding:0;
}

.container{
    background-color: #FFF;  
    padding-top: 0px;
    -moz-box-shadow:     0 0 60px #000;
    -webkit-box-shadow:  0 0 60px #000;
    box-shadow: 0 0 60px #000;
    min-height: 100vh;
}
p, h2,a, a:hover, a:active{
    color: #000;
    text-decoration: none;
}
a button{
    color: #337AB7;
}
.cookie{
    width: 100vw;
    height: 50px;
    border-bottom: 1px solid #dd4351;
    background-color: rgba(247, 225, 181, 0.75);
    position: absolute;
    overflow: visible;
    z-index: 1;
    margin: 0 auto;
}

.navbar{
    margin-bottom: 5px;
    border-radius: 0px;
    border-color: #337AB7;
    border-top: none;
    min-height: 70px;
}
.navbar-btn,
.btn-default,
.btn-default:active,
.navbar-btn:active,
.open > .dropdown-toggle.btn-default:active{
    border-color: #337AB7;
    color: #337AB7;
    background-color: #FFF;
}
.btn-default:hover,
.btn-default:focus,
.navbar-btn:hover,
.navbar-btn:focus,
.btn-default:active:focus,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus{
    border-color: #337ADE;
    color: #FFF;
    background-color: #337AB7;
}
.navbar-brand { 
    max-height: 40px;
    max-width: 30%; 
    overflow: visible;
}

.well{
    border-radius: 0px;
    border: solid 1px #337AB7;
    margin-bottom: 5px;
    padding-top: 0;
    -moz-box-shadow: inset    0 0 8px #337AB7;
    -webkit-box-shadow: inset  0 0 8px #337AB7;
    box-shadow: inset 0 0 8px #337AB7;

}
.well .panel{
    margin-top: 20px;
    -moz-box-shadow: 0 0 8px #337AB7;
    -webkit-box-shadow: 0 0 8px #337AB7;
    box-shadow: 0 0 8px #337AB7;
}

.footer-well{
    padding-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    max-width: 1170px;
    margin: 0 auto;
    font-size: 65%;
    box-shadow: none;
}
input.form-control{
    border-color: #337AB7;
}

embed{
    width: 100%;
    height: 80vh;
}